(
    axes: {
        "vertical": Emulated(
            pos: Key(Up),
            neg: Key(Down)
        ),
        "horizontal": Emulated(
            pos: Key(Right),
            neg: Key(Left)
        ),
        "mouse_x":Mouse(
            axis:X,
            over_extendable:false,
            radius:1.0
        ),
        "mouse_y":Mouse(
            axis:Y,
            over_extendable:false,
            radius:1.0
        )
    },
    actions:{}
)